#skills {
  background-color: black;
  color:aqua;
  padding: 50px 0;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-box {
  background-color: crimson;
  border: 2px solid crimson;
  border-radius: 10px;
  padding: 20px;
  width: 100px;
  text-align: center;
}

.skill-box img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-box p {
  margin: 0;
  font-size: 16px;
}
